<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodstore.bbs.mapper.FAQMapper">

	<!-- FAQ게시판의 리스트를 불러오는 맵퍼 -->
	<select id="FAQList" parameterType="hashmap" resultType="FAQ">
		SELECT *
		FROM faq
		<where>
			<if test="keyword != 'null'">
		 		asking LIKE CONCAT('%', #{keyword}, '%')
		 	</if>
		</where>
		ORDER BY no DESC
		LIMIT #{startRow}, #{num}
	</select>

	<!-- 게시글 전체 수 계산하는 맵핑(검색 포함) -->
	<select id="getFAQCount" parameterType="string"
		resultType="int">
		SELECT
			COUNT(no)
		FROM faq
		
		<where>
			<if test="keyword != 'null'">
		 		asking LIKE CONCAT('%', #{keyword}, '%')
		 	</if>
		</where>
		
	</select>
</mapper>

